
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}images/logo/favicon.png">
    <title>EasyCheck&#169; Kullanıcı Girişi</title>
    <link href="{{ STATIC_URL }}style/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style/morris.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style/blue.css" id="theme" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <section id="wrapper">
        <div class="login-register" style="background-image:url({{ STATIC_URL }}images/login-bck.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" action="index.html">
					                   <b >
                                <img src="{{ STATIC_URL }}images/logo/logo-icon.png" alt="EasyCheck&#169;" class="dark-logo" />
                                  </b>
                                    <span>
                                        <img src="{{ STATIC_URL }}images/logo/logo-text.png" alt="EasyCheck&#169;" class="dark-logo" />
                                        </span>
                      </form>


<h1>Şifreniz değişmiştir!</h1>
<p><a href="{% url 'login' %}">Giriş</a></p>


                </div>
            </div>
        </div>
    </section>

	    <script src="{{ STATIC_URL }}script/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}script/popper.min.js"></script>
    <script src="{{ STATIC_URL }}script/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}script/jquery.slimscroll.js"></script>
    <script src="{{ STATIC_URL }}script/waves.js"></script>
    <script src="{{ STATIC_URL }}script/sidebarmenu.js"></script>
    <script src="{{ STATIC_URL }}script/sticky-kit.min.js"></script>
    <script src="{{ STATIC_URL }}script/custom.min.js"></script>
    <script src="{{ STATIC_URL }}script/jquery.sparkline.min.js"></script>
    <script src="{{ STATIC_URL }}script/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}script/morris.min.js"></script>
    <script src="{{ STATIC_URL }}script/dashboard1.js"></script>
    <script src="{{ STATIC_URL }}script/jQuery.style.switcher.js"></script>
</body>

</html>
