


{% extends "base_generic.html" %}

{% block content %}


<style type="text/css">
    label {
        font-weight: normal  !important; /* overwrites any other rules */
    }
</style>




<script>
  function gonder_Func() {
      alert("buraya  geldi...  gönder func..........");
      var kullanici_adi = document.getElementById("id_kullanici_adi").value;
      alert("kullanıcı adı..."+kullanici_adi);
      var adi = document.getElementById("id_adi").value;
      var soyadi = document.getElementById("id_soyadi").value;
      var eposta = document.getElementById("id_eposta").value;
      var sirket = document.getElementById("id_sirket").value;
      var proje = document.getElementById("id_proje").value;
      var denetci = document.getElementById("id_denetci").value;
      var dgy = document.getElementById("id_dgy").value;
      var opr_alan_sefi = document.getElementById("id_opr_alan_sefi").value;
      var opr_teknik = document.getElementById("id_opr_teknik").value;
      var opr_proje_yon = document.getElementById("id_opr_proje_yon").value;
      var opr_merkez_yon = document.getElementById("id_opr_merkez_yon").value;
      var isletme_projeyon = document.getElementById("id_isletme_projeyon").value;
      var passwd_1 = document.getElementById("id_passwd_1").value;
      var passwd_2 = document.getElementById("id_passwd_2").value;


        if (kullanici_adi == "")
            {
              alert(_("please enter user_name...!"));
              return  false ;
            }
        if (adi == "")
            {
              alert("isim girmelisiniz...!");
              return false ;
            }
        if (soyadi == "")
            {
              alert("soyadı girmelisiniz...!");
              return false ;
            }
        if (eposta == "")
            {
              alert("eposta girmelisiniz...!");
              return false ;
            }
        if (sirket == "")
            {
              alert("şirket seçmelisiniz...!");
              return false;
            }
        if (passwd_1 == "")
            {
              alert("parola -  1 girmelisiniz...!");
              return false;
            }

        if (passwd_2 == "")
            {
              alert("parola -  2 girmelisiniz...!");
              return false;
            }

        if (passwd_1 != passwd_2)
            {
              alert("parolalar aynı değil...!");
              return false;
            }

        document.getElementById("my_Form").submit();


  }
</script>




<script>
  function tipisecFunction() {
      var response = '';
      var js_bolumler = [];
      var js_takipciler = [];
      /* liste = document.getElementById("id_bolum").value; */
      $.ajaxSettings.traditional = true;
      $("#id_bolum :selected").each(function(){
          js_bolumler.push($(this).val());
      });
      $("#id_takipciler :selected").each(function(){
          js_takipciler.push($(this).val());
      });
      var js_denetim_adi = document.getElementById("id_denetim_adi").value;
      var js_proje = document.getElementById("id_proje").value;
      var x = document.getElementById("id_rutin_planli_0").checked;
      var y = document.getElementById("id_rutin_planli_1").checked;
      if (x == true)
          { var js_rutin_planli = "P";
             //alert(" js rutin planlı ...p  "+js_rutin_planli);
           }
      else { if (y == true)
              { var js_rutin_planli = "R";
                //alert(" js rutin planlı...r "+js_rutin_planli);
              }
            else { var js_rutin_planli ="";
                    //alert(" js rutin planlı...boş "+js_rutin_planli);
            }}
      var js_denetci = document.getElementById("id_denetci").value;
      var js_tipi = document.getElementById("id_tipi").value;
      var js_hedef_baslangic = document.getElementById("id_hedef_baslangic").value;
      var js_hedef_bitis = document.getElementById("id_hedef_bitis").value;
      var js_aciklama = document.getElementById("id_aciklama").value;
      //alert(" bölümler..." + js_bolumler);
      //alert("js rutin planlı ..."+js_rutin_planli);
      console.log(js_bolumler);
      $.ajax({
        url : "tipisec_bolum_js/",
        type : "GET",
        dataType: "text",
        data : {
          'js_bolumler' : js_bolumler,
          'js_takipciler' : js_takipciler,
          'js_denetim_adi' : js_denetim_adi,
          'js_proje' : js_proje,
          'js_rutin_planli' : js_rutin_planli,
          'js_denetci' : js_denetci,
          'js_tipi' : js_tipi,
          'js_hedef_baslangic' : js_hedef_baslangic,
          'js_hedef_bitis' : js_hedef_bitis,
          'js_aciklama' : js_aciklama,
         },
        success: function() {
            //alert("tipi seçimi başarılı...");
            window.location.reload();
            },
        failure: function() {
            alert("hata var....veri aktarılamadı...");
            }
        });  /* ajax kapa...*/
  }
</script>



  <script>
    function detaysecFunction() {
        var response = '';
        var js_bolumler = [];
        var js_takipciler = [];
        /* liste = document.getElementById("id_bolum").value; */
        $.ajaxSettings.traditional = true;
        $("#id_bolum :selected").each(function(){
            js_bolumler.push($(this).val());
        });
        $("#id_takipciler :selected").each(function(){
            js_takipciler.push($(this).val());
        });
        var js_denetim_adi = document.getElementById("id_denetim_adi").value;
        var js_proje = document.getElementById("id_proje").value;
        var x = document.getElementById("id_rutin_planli_0").checked;
        var y = document.getElementById("id_rutin_planli_1").checked;
        if (x == true)
            { var js_rutin_planli = "P";
               //alert(" js rutin planlı ...p  "+js_rutin_planli);
             }
        else { if (y == true)
                { var js_rutin_planli = "R";
                  //alert(" js rutin planlı...r "+js_rutin_planli);
                }
              else { var js_rutin_planli ="";
                      //alert(" js rutin planlı...boş "+js_rutin_planli);
              }}
        var js_denetci = document.getElementById("id_denetci").value;
        var js_tipi = document.getElementById("id_tipi").value;
        var js_hedef_baslangic = document.getElementById("id_hedef_baslangic").value;
        var js_hedef_bitis = document.getElementById("id_hedef_bitis").value;
        var js_aciklama = document.getElementById("id_aciklama").value;
        //alert(" bölümler..." + js_bolumler);
        console.log(js_bolumler);
        $.ajax({
          url : "detaylarsec_bolum_js/",
          type : "GET",
          dataType: "text",
          data : {
            'js_bolumler' : js_bolumler,
            'js_takipciler' : js_takipciler,
            'js_denetim_adi' : js_denetim_adi,
            'js_proje' : js_proje,
            'js_rutin_planli' : js_rutin_planli,
            'js_denetci' : js_denetci,
            'js_tipi' : js_tipi,
            'js_hedef_baslangic' : js_hedef_baslangic,
            'js_hedef_bitis' : js_hedef_bitis,
            'js_aciklama' : js_aciklama,
           },
          success: function() {
              //alert("bölüm seçimi başarılı...");
              window.location.reload();
              },
          failure: function() {
              alert("hata var....veri aktarılamadı...");
              }
          });  /* ajax kapa...*/
    }
  </script>



  {% load i18n %}

  {% get_current_language as LANGUAGE_CODE %}
   Current language: {{ LANGUAGE_CODE }}




<h4> {%  tercume  %} </h4>



    <p> </br> </p>



            <form id="my_Form" onsubmit="return gonder_Func()" method="post">
              {% csrf_token %}

              {{ form.non_field_errors }}

              {{ form.source.errors }}
              {{ form.source }}

              <table border="0">

                <tr>
                    <td>
                    {{ form.pk_no.errors }}
                    {{ form.pk_no }}
                  </td>
                </tr>


                  <tr>
                    <th style="width: 50mm;">  {{ form.kullanici_adi.label_tag }}  </th>
                    <td>
                      {{ form.kullanici_adi.errors }}
                      {{ form.kullanici_adi }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.adi.label_tag }}</th>
                    <td>
                      {{ form.adi.errors }}
                      {{ form.adi }}
                    </td>
                  </tr>


                  <tr>
                    <th>{{ form.soyadi.label_tag }}</th>
                    <td>
                      {{ form.soyadi.errors }}
                      {{ form.soyadi }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.eposta.label_tag }}</th>
                    <td>
                      {{ form.eposta.errors }}
                      {{ form.eposta }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.sirket.label_tag }}</th>
                    <td>
                      {{ form.sirket.errors }}
                      {{ form.sirket }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.proje.label_tag }}</th>
                    <td>
                      {{ form.proje.errors }}
                      {{ form.proje }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.denetci.label_tag }}</th>
                    <td>
                      {{ form.denetci.errors }}
                      {{ form.denetci }}
                    </td>
                  </tr>


                  <tr>
                    <th>{{ form.dgy.label_tag }}</th>
                    <td>
                      {{ form.dgy.errors }}
                      {{ form.dgy }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.opr_alan_sefi.label_tag }}</th>
                    <td>
                      {{ form.opr_alan_sefi.errors }}
                      {{ form.opr_alan_sefi }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.opr_teknik.label_tag }}</th>
                    <td>
                      {{ form.opr_teknik.errors }}
                      {{ form.opr_teknik}}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.opr_proje_yon.label_tag }}</th>
                    <td>
                      {{ form.opr_proje_yon.errors }}
                      {{ form.opr_proje_yon }}
                    </td>
                  </tr>


                <tr>
                  <th>{{ form.opr_merkez_yon.label_tag }}</th>
                  <td>
                    {{ form.opr_merkez_yon.errors }}
                    {{ form.opr_merkez_yon }}
                  </td>
                </tr>

                  <tr>
                    <th>{{ form.isletme_projeyon.label_tag }}</th>
                    <td>
                      {{ form.isletme_projeyon.errors }}
                      {{ form.isletme_projeyon}}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.passwd_1.label_tag }}</th>
                    <td>
                      {{ form.passwd_1.errors }}
                      {{ form.passwd_1 }}
                    </td>
                  </tr>

                  <tr>
                    <th>{{ form.passwd_2.label_tag }}</th>
                    <td>
                      {{ form.passwd_2.errors }}
                      {{ form.passwd_2 }}
                    </td>
                  </tr>

                  </table>
                  <input type="submit" value="Kaydet">
                <!-- <input type="button" value="Kaydet" onclick="gonder_Func();" />  -->
            </form>




</html>


{% endblock %}
