
{% extends "base_generic.html" %}

{% block content %}


<!--  buraya if konulacak ...-->


      <h1>Denetim Bölümü Sil</h1>

      <p>Bu denetim bölümünü silmek istediğinizden emin misiniz ???: </p>

      <p>  <b> id : </b>   &emsp;   {{ bolum_obj.id }}</p>

      <p>   <b>  adı: </b>  &emsp;   {{ bolum_obj.bolum_adi }}</p>

      <form action="" method="POST">
        {% csrf_token %}
      <!--<input type="submit" action="demirbas_sil_kesin" value="Evet, sil.." /> -->

      <!-- <a href="giris/demirbas/{{ sil_id }}/kesin"> Evet sil... </a>  -->

      <a href="kesin"> Evet sil... </a>
      </form>

{% endblock %}
