
{% extends "base_generic.html" %}

{% block content %}

<!-- Latest compiled and minified CSS -->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
-->
<!-- Optional theme -->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
-->
<!-- Latest compiled and minified JavaScript -->
<!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'> </script>


<script>
function dataChart(){
  //alert("buraya da geldi......!!!!!");
  var endpoint = '/charts/api/data/';
  var defaultData = [];
  var labels = [];
  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
          //alert(data)
          labels_1 = data.labels_1;
          defaultData_1 = data.default_1;
          labels_2 = data.labels_2;
          defaultData_2 = data.default_2;
          //alert(data);
          //alert(labels_1);
          //alert(defaultData_1);
          setChart(labels_1, defaultData_1, labels_2, defaultData_2);
      },
      error: function(error_data){
          console.log("error");
          console.log(error_data);
      }
  })
}
</script>

<script>
function setChart(labels_1, defaultData_1, labels_2, defaultData_2){
    //alert("buraya buraya da geldi.........................");
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: labels_2,
              datasets: [{
                  label: 'Memnuniyetsizlik Sebepleri',
                  data: defaultData_2,
                  backgroundColor: [
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(255, 206, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(255, 159, 64, 0.8)',
                      'rgba(255, 99, 132, 0.8)'
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255,99,132,1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
        });  //  end  new chart.....chart 1 ....

          var myChart = new Chart(ctx, {
          //type: 'polarArea',
          type: 'doughnut',
          data: {
              labels: labels_1,
              datasets: [{
                  label: 'Memnuniyet',
                  data: defaultData_1,
                  backgroundColor: [
                      'rgba(0, 255, 0, 0.6)',
                      'rgba(255, 255, 0, 0.6)',
                      'rgba(255, 0, 0, 0.6)'
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          /*
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
          */
      });   // end   second chart............

}  // end ************  function  set chart  ****************
// var ctx = document.getElementById("myChart");
</script>


<script>
$(document).ready(function(){
  //alert("buraya geldi....");
  dataChart();
})
</script>

<h2>Memnuniyet Değerlendirme </h2>



<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}' >

        <div class='col-sm-6'>
            <canvas id="myChart"></canvas>
        </div>

        <div class='col-sm-6'>
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>








{% endblock %}
