
{% extends "base_generic.html" %}

{% block content %}
    <h4>Sirket İçin Denetçi Listesi</h4>
    <p> </p>
    <h4> Şirket...:&emsp; {{ user.profile.sirket}} </h4>
    </br>
    </br>
    <!-- <h4>Grup içinden planlayıcılar:</h4>  -->

    {% if grup_list %}

        <table cellspacing="10" cellpadding="0">
                <tr>
                  <th>Süpervizör</th>
                  <th> &emsp;&emsp; </th>
                  <th>Şirketi</th>
                </tr>

            {% for ic in grup_list %}
                <tr >
                  <td>{{ ic.get_full_name  }}  </td>
                  <td> &emsp;&emsp; </td>
                  <td>{{ ic.profile.sirket }}  </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
      <p>Grup içi denetçi yok...  </p>
    {% endif %}

    <p>  &emsp; </p>

    {% if grupdisi_list %}

          <table cellspacing="10" cellpadding="0">
                  <tr>
                    <th></th>
                    <th> &emsp;&emsp; </th>
                    <th>Denetçi</th>
                    <th> &emsp;&emsp; </th>
                    <th>Şirketi</th>
                  </tr>

              {% for dis in grupdisi_list %}
                  <tr >
                    <td> <a href="{{dis.id}}/sil"><span class='glyphicon glyphicon-remove'></span></a> </td>
                    <td> &emsp;&emsp; </td>
                    <td> <a> {{ dis.get_full_name  }} </a> </td>
                    <td> &emsp;&emsp; </td>
                    <td> <a>  {{ dis.profile.sirket }}  </a> </td>
                  </tr>
              {% endfor %}
          </table>

    {% else %}
      <p>Grup dışı denetçi yok... </p>
    {% endif %}
  </br>
  </br>

    <button type="button" class="btn btn-sm"  onclick="window.location.href='{% url 'spv_yarat'  %}'">Ekle</button>



{% endblock %}
