

{% extends "base_generic.html" %}

{% block content %}



<script>

  function baslat_json() {
      // var puan = document.getElementById("id_puan").value;


      alert("başlatma json...");
      //console.log(puan);
      // gender (required)
      var puan_check = $('input:radio[name = puan ]:checked').val();
      if ( !puan_check ) {
          alert("lütfen puan giriniz...");
          return false;
        }

      var resim = document.getElementById("yukle-resim").value;
      if (resim == "")
             { alert("resim yüklenmemiş....");
               return false;
               }
          else {
            alert("neden burada");
            $.ajax({
              url : "detay_kaydet/",
              type : "GET",
              dataType: "text",
              data : {
                'puan_check' : puan_check,
                'resim' : resim,
              },
              success: function() {
                  alert(" detay kaydetme başarılı..");
                  window.location = '';
                  /*window.location.reload(); */
                  },
              failure: function() {
                  alert(" detay kaydetmede hata...");
                  }
              });  /* ajax kapa...*/

          }
      }

  </script>



<script>
    $( ".baslat_json" ).baslat_json();
</script>




<h5> <b> Denetim Detay İşlemleri </b> </h5>

<!--
<script>
    $(document).ready(function(){
           /* $("#id_bolum").change(function(){ */
                alert ( "hadi  şimdi...garanti var mı çalıştı...");
                changeCLR();
           /*  });   /*  change  kapanıyor ...  */
         });  /* document ready  kapanıyor */
</script>
-->

            <p> </p>
            <p> </p>


            <table border="0">
                <tbody>
                    <tr>
                        <td><b>Denetim No..:</b></td>
                        <td>  &emsp;      {{ secili_obj.denetim }}</td>
                    </tr>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p> </p>

                    <tr>
                        <td><b>Bolüm.....:</b></td>
                        <td> &emsp;     {{ secili_obj.bolum }}</td>
                    </tr>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p> </p>

                    <tr>
                        <td><b>Detay Adı.........:   </b></td>
                        <td> &emsp;     {{ secili_obj.detay }}</td>
                    </tr>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>

                </tbody>
            </table>

            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>



<p> </p>
<p> </p>
<p> </p>
<p> </p>


<form method='POST' action="" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" class='btn btn-default' value="kaydet" />
</form>


<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>


<!-- <input type="file" accept="image/*"  id="resim-yukle">  -->
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>

<!--
<form>
  <input  type="submit" value="Tamam" onclick="baslat_json()">
</form>
-->






{% endblock %}
