{% extends "base_generic.html" %}
{% load timedelta_filter %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>


table td
{
  table-layout:fixed;
  width:20px;
  overflow:hidden;
  word-wrap:break-word;

}


table {
    width:100%;
}




table tr:nth-child(even) {
    background-color: #eee;
}


table tr:nth-child(odd) {
   background-color: #fff;
}

.dikkat{
  color:red;
}
.siyah{
  color:black;
}

.yesil{
  color:green;
}
/*
th{
    font-weight: normal;
}
*/

</style>


    <h4>Yer Denetimleri Listesi</h4>


    <script type="text/javascript">
     $(document).ready(function(){
       /*alert("geldi..."); */
       $("td").filter(function(index) { return $(this).html() == 5; }).parent().addClass("dikkat");
       new_notif();
       myInterval();
     });

  </script>



    <p> </p>



    <script>
          $(document).ready(function(){

                      //alert ( "...bolum detay seç çalıştı...");
                       degistir();

                  });  /* document ready  kapanıyor */
    </script>



    {% if denetim_saha_list %}

                  <table  id="table_id">
                          <tr>
                            <th hidden>xxx</th>
                            <th>Proje</th>
                            <th>Yer</th>
                            <th>Tarih</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Açıklama</th>
                          </tr>

                      {% for deger in denetim_saha_list %}

                          <tr class="yn" >
                            <td hidden>{{ deger.deger }}  </td>
                            <td>{{ deger.proje }}  </td>
                            <td>{{ deger.yer }}  </td>
                            <td>{{ deger.gelen_tarih|date:" d/m/Y - H:i" }}  </td>
                            <td>{{ deger.adi }}  </td>
                            <td>{{ deger.soyadi }}  </td>
                            <td>{{ deger.aciklama }}  </td>
                          </tr>

                      {% endfor %}
                  </table>
    {% else %}
      <p> gelen veri yok !!!!!....</p>
      <p> </p>
    {% endif %}


    <div class="pagination">
      <span class="step-links">
          {% if denetim_saha_list.has_previous %}
              <a href="?page={{ denetim_saha_list.previous_page_number }}"> önceki </a>
          {% endif %}

          <span class="current">
              sf {{ denetim_saha_list.number }} / {{ denetim_saha_list.paginator.num_pages }}
          </span>

          {% if denetim_saha_list.has_next %}
              <a href="?page={{ denetim_saha_list.next_page_number }}"> sonraki </a>
          {% endif %}
      </span>
    </div>






{% endblock %}
