{% extends "base_generic.html" %}

{% block content %}
<style>

header {
    color: blue;
    font-family: verdana;
    font-size: 300%;

}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>


<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current');   // Don't need to specify chart libraries!
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        var wrapper = new google.visualization.ChartWrapper({
          chartType: 'ColumnChart',
          dataTable: [['', 'puan',],
                      ['',  8,]],
          options: {'title': 'Denetim Puanı'},
          containerId: 'vis_div'
        });
        wrapper.draw();
      }
    </script>




<!--  buraya if konulacak ...-->


  

      <div class="container">
        <div class="row">
          <div class="col-md-6">

          <p> </p> &emsp;

      <h4>  <b> <p> Denetim  Raporu</p></b> </h4>
          <p> </p> &emsp;


              <table border="0">
                  <tbody>
                      <tr>
                          <td><b>Denetim Adı:</b></td>
                          <td>  &emsp; {{ denetim_adi }} </td>
                      </tr>
                      <tr>
                          <td><b>Proje:</b></td>
                          <td> &emsp; {{ proje }}  </td>
                      </tr>
                      <tr>
                          <td><b>Planlı/Rutin:</b></td>
                          {%   if rutin_planli == "P" %}
                          <td> &emsp; Planlı  </td>
                          {%  else %}
                          <td> &emsp; Rutin   </td>
                          {%  endif %}
                      </tr>

                      <tr>
                          <td><b>Denetçi:   </b></td>
                          <td> &emsp; {{ denetci }}  </td>
                      </tr>
                      <tr>
                          <td><b>Denetim Tipi:</b></td>
                          <td>  &emsp;  {{ tipi }} </td>
                      </tr>
                      <tr>
                          <td><b>Oluşturma Tarihi:</b></td>
                          <td> &emsp; {{ yaratim_tarihi }}  </td>
                      </tr>
                      <tr>
                          <td><b>Oluşturan:   </b></td>
                          <td> &emsp;  {{ yaratan }}  </td>
                      </tr>


                      <tr>
                          <td><b>Toplam soru adedi:</b></td>
                          <td> &emsp; {{ soru_adedi }} </td>
                      </tr>
                      <tr>
                          <td><b>Denetim dışı soru adedi:   </b></td>
                          <td> &emsp; {{ dd_adedi }}  </td>
                      </tr>

                      <tr>
                          <td><b>Net soru adedi:</b></td>
                          <td> &emsp; {{ net_adet }} </td>
                      </tr>
                      <tr>
                          <td><b>Toplam alınan puan:   </b></td>
                          <td> &emsp; {{ toplam_puan }}  </td>
                      </tr>

                      <tr>
                          <td><b>Denetim Puanı:   </b></td>
                          <td> &emsp; {{ ortalama_puan |floatformat:2 }}  </td>
                      </tr>

                  </tbody>
              </table>


  <!--
              <p> </p> &emsp;
              <p> </p> &emsp;
              <h5> <b> Takipçiler: </b> <h5>
              <p> </p>


              {% for takipci in takipciler %}
              <tr>
                  <td> {{ takipci }} </td>
              </tr>
              <p> </p>
              {% endfor %}
-->
</div>
   <div class="col-md-6">
         <style="font-family: Arial;border: 0 none;">
         <div id="vis_div" style="width: 200px; height: 400px;"></div>


     </div>
</div>
</div>
<div class="container">
  <div class="row">
<div class="col-md-6">

            {% if dict_bol_detay %}
                  <!-- <strong>There are logs present.</strong>  -->
                  <p> </p>
            {% else %}
                  <strong>There are no logs present.</strong>
                  <p> </p>
            {% endif %}





          <p> </p> &emsp;
          <p> </p> &emsp;
          <h4> <b> <p>Bölüm ve detaylar:</p> </b> </h4>
          <p> </p> &emsp;
          <p> </p>
          {% for bolum, detay in dict_bol_detay.items %}

          <table border="0">
              <tbody>
              <tr>
                  <td>&emsp; <b>{{bolum.bolum.bolum_adi }}</b></td>
              </tr>
              <p> </p>
              <tr>
                  <td>   &emsp;<b> Bölüm içi soru adedi: </b></td>
                  <td> &emsp; {{ bolum.soru_adedi }} </td>
              </tr>
              <p> </p>
              <tr>
                  <td>   &emsp;<b> Bölümdeki denetim dışı soru adedi: </b>  </td>
                  <td> &emsp; {{ bolum.dd_adedi }}  </td>
              </tr>
              <p> </p>
              <tr>
                  <td>   &emsp;<b> Bölümdeki net soru adedi:</b> </td>
                  <td> &emsp; {{ bolum.net_adet }} </td>
              </tr>
              <p> </p>
              <tr>
                  <td>  &emsp; <b> Toplam alınan puan: </b>  </td>
                  <td> &emsp; {{ bolum.toplam_puan }}  </td>
              </tr>


              <p> </p>
              <tr>
                  <td>   &emsp;<b> Ortalama Bölüm Puanı: </b>  </td>
                  <td> &emsp; {{ bolum.ortalama_puan}}  </td>
              </tr>
              <p> </p>
              <p> &emsp;   </p>
            </tbody>
          </table>
          <p> </p> &emsp;
          <p> </p>

          <h4> <b> <p>Soru Detayları:</p> </b> </h4>
          <p> </p> &emsp;
          <p> </p>
              {% for detay in detay %}
              <tr>



                  <td> &emsp;<b> {{ detay.detay.detay_adi }} </b>  </td>

              {% if detay.denetim_disi == "E" %}

                  <td> &emsp;    &emsp;  Denetim dışı </td>
              </tr>

              {% endif %}

              {% if detay.denetim_disi == "H" %}

              <tr>
                <td> <b>  Puanı: </b></td>
              <td>   &emsp;  {{ detay.puan }} </td>
              </tr>


              <p> </p>
              {% endif %}

              <p> </p>
              {% endfor %}
              <p>   &emsp;   </p>


          {% endfor %}

</div>
</div>
</div>


{% endblock %}
