
{% extends "base_generic.html" %}

{% block content %}



      <h3>Denetim Başlatma</h3>

      <p>Bu denetimi başlatmak istediğinizden emin misiniz ? </p>


      <table border="0">
          <tbody>
              <tr>
                  <td><b>Denetim Adı:</b></td>
                  <td>  &emsp; {{ denetim_adi }} </td>
              </tr>
              <tr>
                  <td><b>Müşteri:</b></td>
                  <td> &emsp; {{ musteri }}  </td>
              </tr>
              <tr>
                  <td><b>Hadef Başlangıç:   </b></td>
                  <td> &emsp; {{ hedef_baslangic }}  </td>
              </tr>
              <tr>
                  <td><b>Hedef Bitiş:</b></td>
                  <td>  &emsp;  {{ hedef_bitis }} </td>
              </tr>


          </tbody>
      </table>

      <p> </p> &emsp;
      <p> </p> &emsp;


      <button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'denetim_baslat_kesin' %}'">Evet başlat</button>


{% endblock %}
