{% extends "base_generic.html" %}

{% block content %}


<style>

header {
    color: blue;
    font-family: verdana;
    font-size: 300%;

}

/*
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
*/

.chart-container {
  position: relative;
  margin: auto;
  /* height: 80vh;
  width: 80vw; */
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="style2.css">-->

<script>
  function goster_chart(labels, defaultData, kalan_data, backC, borC){
      //alert("buraya da geldi  goster_chart()..................");
      //alert("script içinden label..."+labels);
      //alert("script içinden default data .."+defaultData+" kalan data "+ kalan_data);
      //alert("script içinden renkler .."+backC+borC);

      var ctx = document.getElementById("myChart").getContext("2d");
      ctx.width = 20;
      ctx.height = 100;
      var label_arr = [];
      var label_data = [];
      var k_data = [];
      var backC_arr = [];
      var borC_arr = [];
      label_arr.push("Puan(%)");
      label_data.push(defaultData);
      k_data.push(kalan_data);
      backC_arr.push(backC);
      borC_arr.push(borC);

      //alert("label arr "+label_arr+" label data "+label_data+" kalan data "+k_data);
      //alert("borC arr "+backC_arr+" borC arr "+borC_arr);
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ["Denetim Puanı"],
              datasets: [{
                  label: "Puan(%)",
                  data: label_data,
                  backgroundColor: backC,
                  borderColor: borC,
                  borderWidth: 1
              }, {
                type: 'bar',
                label: '',
                backgroundColor: 'rgba(100, 100, 100, 0)',
                data: k_data
              }]
          },
          options: {
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                stacked: true
              }]
            }
          }
      });  // mychart
    }  // end ************  function  set chart  ****************

</script>



<script>
  $(document).ready(function(){
    //alert("buraya geldi  document ready....");
    goster_data = {{ goster|safe }};
    kalan_data = {{ kalan|safe}};
    //alert("gelen ortalama verisi js içinde..."+goster_data+" ve kalan data "+kalan_data);
    var backC = [];
    var borC = [];
    if (goster_data > '80')
        { backC.push("rgba(88, 214, 141, 0.8)"); borC.push("rgba(88, 214, 141, 1)");}
        else  if (goster_data > '60')
            { backC.push("rgba(255, 220, 0, 0.8)"); borC.push("rgba(255, 220, 0, 1)");}
             else
              { backC.push("rgba(255, 51, 51, 0.8)"); borC.push("rgba(255, 51, 51, 1)");}
    //alert ("backg"+backC+"border"+borC);
    goster_chart("", goster_data, kalan_data, backC, borC);

  })
</script>





<h4>Denetim tamamla</h4>


<div class="container">
  <div class="row">
    <div class="col-md-6">

    <p> </p> &emsp;

      <h4>  <b> <p> Denetim  Raporu</p></b> </h4>
          <p> </p> &emsp;

              <table border="0">
                  <tbody>
                      <tr>
                          <td><b>Denetim Adı:</b></td>
                          <td>  &emsp; {{ denetim_adi }} </td>
                      </tr>
                      <tr>
                          <td><b>Proje:</b></td>
                          <td> &emsp; {{ proje }}  </td>
                      </tr>
                      <tr>
                          <td><b>Planlı/Rutin:</b></td>
                          {%   if rutin_planli == "P" %}
                          <td> &emsp; Planlı  </td>
                          {%  else %}
                          <td> &emsp; Rutin   </td>
                          {%  endif %}
                      </tr>

                      <tr>
                          <td><b>Denetçi:   </b></td>
                          <td> &emsp; {{ denetci }}  </td>
                      </tr>
                      <tr>
                          <td><b>Denetim Tipi:</b></td>
                          <td>  &emsp;  {{ tipi }} </td>
                      </tr>
                      <tr>
                          <td><b>Oluşturma Tarihi:</b></td>
                          <td> &emsp; {{ yaratim_tarihi }}  </td>
                      </tr>
                      <tr>
                          <td><b>Oluşturan:   </b></td>
                          <td> &emsp;  {{ yaratan }}  </td>
                      </tr>


                      <tr>
                          <td><b>Toplam soru adedi:</b></td>
                          <td> &emsp; {{ soru_adedi }} </td>
                      </tr>
                      <tr>
                          <td><b>Denetim dışı soru adedi:   </b></td>
                          <td> &emsp; {{ dd_adedi }}  </td>
                      </tr>

                      <tr>
                          <td><b>Net soru adedi:</b></td>
                          <td> &emsp; {{ net_adet }} </td>
                      </tr>
                      <tr>
                          <td><b>Toplam alınan puan:   </b></td>
                          <td> &emsp; {{ toplam_puan }}  </td>
                      </tr>

                      <tr>
                          <td><b>Denetim Puanı:   </b></td>
                          <td> &emsp; % {{ ortalama_puan |floatformat:0 }}  </td>
                      </tr>

                  </tbody>
              </table>



</div>




<!-- <div class='col-md-6 chart-container' style="position:relative; margin-top: 80px;"  >  -->
<div class='col-md-6 chart-container'>
</br>
</br>
</br>
</br>
</br>
    <canvas id="myChart"   ></canvas>
</div>


<!--</div> -->
</div>


<!--<div class="container">-->
<div class="row">
<div class="col-md-6">

            {% if dict_bol_detay %}
                  <!-- <strong>There are logs present.</strong>  -->
                  <p> </p>
            {% else %}
                  <strong>Kayıt yok...</strong>
                  <p> </p>
            {% endif %}

          <p> </p> &emsp;
          <p> </p> &emsp;
          <p> </p> &emsp;
          <p> </p>

          {% for bolum, detay in dict_bol_detay.items %}

          <h5> <b> <p>Bölüm: &emsp; {{bolum.bolum.bolum_adi }} </p> </b> </h5>

          <table border="0">
              <tbody>
              <tr>
                  <td>   &emsp;<b> Bölüm içi soru adedi: </b></td>
                  <td> &emsp; {{ bolum.soru_adedi }} </td>
              </tr>
              <p> </p>
              <tr>
                  <td>   &emsp;<b> Bölümdeki denetim dışı soru adedi: </b>  </td>
                  <td> &emsp; {{ bolum.dd_adedi }}  </td>
              </tr>
              <p> </p>
              <tr>
                  <td>   &emsp;<b> Bölümdeki net soru adedi:</b> </td>
                  <td> &emsp; {{ bolum.net_adet }} </td>
              </tr>
              <p> </p>
              <tr>
                  <td>  &emsp; <b> Toplam alınan puan: </b>  </td>
                  <td> &emsp; {{ bolum.toplam_puan }}  </td>
              </tr>


              <p> </p>
              <tr>
                  <td>   &emsp;<b> Ortalama Bölüm Puanı: </b>  </td>
                  <td> &emsp; %{{ bolum.ortalama_puan|floatformat:0 }}  </td>
              </tr>
              <p> </p>
              <p> &emsp;   </p>
            </tbody>
          </table>
          <p> </p> &emsp;
          <p> </p>

          <h5> <b> <p>Sorular:</p> </b> </h5>
          <p> </p> &emsp;
          <p> </p>
              {% for detay in detay %}
              <tr>

                  <td> &emsp;<b> {{ detay.detay.detay_adi }} </b>  </td>

              {% if detay.denetim_disi == "E" %}

                  <td> &emsp;    &emsp;  Denetim dışı </td>
              </tr>

              {% endif %}

              {% if detay.denetim_disi == "H" %}

              <tr>
                <td> <b>  Puanı: </b></td>
              <td>   &emsp;  {{ detay.puan }} </td>
              </tr>


              <p> </p>
              {% endif %}

              <p> </p>
              {% endfor %}
              <p>   &emsp;   </p>


          {% endfor %}


</div>
</div>
</div>
{% endblock %}
