
{% extends "base_generic.html" %}

{% block content %}

  <h3>Eleman Sayfası</h3>

  <p> &emsp; </p>

  <table >
    <tr>
      <td><b>Proje:</b></td>
      <td> &emsp; </td>
      <td>{{ eleman_obj.proje }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Adı:</b></td>
      <td> &emsp; </td>
      <td>{{ eleman_obj.adi }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Soyadı:</b></td>
      <td> &emsp; </td>
      <td>{{ eleman_obj.soyadi }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Kullanıcı Adı:</b></td>
      <td> &emsp; </td>
      <td>{{ eleman_obj.kull_adi }}</td>
    </tr>

  </table>






{% endblock %}
