{% extends "base_generic.html" %}

{% block content %}
    <h4>Mac List</h4>
    <p> </p>
    {% if mac_list %}
    <ul>
      {% for deger in mac_list %}
        <li>
          <a href="{{deger.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
          <a href="{{deger.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
          &emsp;   <a>({{ deger.id }})</a> --- <a>{{ deger.mac_no }} </a> --- <a>{{ deger.timestamp }} </a>
        </li>
      {% endfor %}
      <p> </p>
    </ul>
    {% else %}
      <p> gelen veri yok !!!!!....</p>
      <p> </p>
    {% endif %}

{% endblock %}
