{% extends "base_generic.html" %}

{% block content %}
    <h4>Memnuniyet List</h4>
    <p> </p>
    {% if memnuniyet_list %}
    <ul>
      {% for deger in memnuniyet_list %}
        <li>
          <a href="{{deger.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
          <a href="{{deger.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
          &emsp;   <a>({{ deger.id }})</a> -- <a>{{ deger.tipi }}</a>--<a>{{ deger.mac_no }}</a>-- <a>{{ deger.oy }} </a> -- 
                      <a>{{ deger.sebep }} </a> -- <a> {{ deger.gelen_tarih }} </a> --<a> {{ deger.timestamp }}
        </li>
      {% endfor %}
      <p> </p>
    </ul>
    {% else %}
      <p> gelen veri yok !!!!!....</p>
      <p> </p>
    {% endif %}

{% endblock %}
