{% extends "base_generic.html" %}

{% block content %}


<!--  buraya if konulacak ...-->


      <h3>Proje Alanı Sil</h3>


      <p>  <b>  id: </b>   &emsp;   {{ pa_object.id }}</p>
      <p>  <b>  Proje: </b>  &emsp;   {{ pa_object.id }}</p>
      <p>  <b>  Alan: </b>  &emsp;   {{ pa_object.alan }}</p>

      <p>Bu proje alanını silmek istediğinizden emin misiniz: </p>

      <form action="" method="POST">
        {% csrf_token %}
      <a href="kesin"> Evet sil... </a>
      </form>

{% endblock %}
