{% extends "base_generic.html" %}
{% load static %}

{% block content %}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<script>
      $(document).ready(function(){
          document.getElementById('id_qrcode').readOnly = true;
           });  /* document ready  kapanıyor */
</script>




<h4> QRCode Düzenleme  </h4>

<p> </p>

<form action="" method="POST">
    {% csrf_token %}
<!--    {{ form.errors }}  -->
<!--    {{ form.non_field_errors }} -->
    <table>
    {{ form.as_table }}
    {{ form.field_errors }}
    </table>
    <input type="submit" value="kaydet" />

</form>

<!--
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

{{ form.media }}


{% endblock %}
