

{% extends "base_generic.html" %}

{% block content %}
    <h3>Proje RFID Listesi</h3>

    {% if rfid_dosyasi_list %}
    <ul>

      {% for rfid in rfid_dosyasi_list %}
      <li>
        <a href="{{rfid.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="{{rfid.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
              &emsp;   <a href="{{rfid.id}}">{{ rfid.rfid_no }}
                  &emsp;   {{rfid.proje}}   &emsp; {{ rfid.rfid_tipi }}
                  &emsp;   {{rfid.adi}}   &emsp; {{ rfid.soyadi }} </a>

      </li>
      {% endfor %}
      <p> </p>
      <a href="/islem/rfid/create"> RFID Ekle </a>
    </ul>
    {% else %}
      <p>Kayıtlı yer yok ....</p>
      <p> </p>
      <a href="/islem/rfid/create"> RFID Ekle </a>
    {% endif %}

{% endblock %}
