
{% extends "base_generic.html" %}

{% block content %}
    <h3>RFID Listesi</h3>

    {% if rfid_dosyasi_list %}
    <ul>

      {% for rfid in rfid_dosyasi_list %}
      <li>
        <a href="{{rfid.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="{{rfid.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
              &emsp;   ({{rfid.id}})    <a href="{{rfid.id}}">{{ rfid.rfid_no }}</a>
              - <a>{{ rfid.proje }}</a> - <a>{{ rfid.rfid_tipi }}</a>
              - <a>{{ rfid.kullanici }}</a> - <a>{{ rfid.adi }}</a> - <a>{{ rfid.soyadi }}</a>

              
        <!--  <a href="{{marka.id}}">{{ marka.id }}</a> ({{marka.marka_adi}}) -->
      </li>
      {% endfor %}
      <p> </p>
      <a href="/islem/rfid/create"> RFID Ekle </a>
    </ul>
    {% else %}
      <p>Kayıtlı RFID yok ....</p>
      <p> </p>
      <a href="/islem/rfid/create"> RFID Ekle </a>
    {% endif %}

{% endblock %}
