
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}



<script>
function kaydet() {
   alert("kybele  .....");
   var rfid_tipi = document.getElementById("id_rfid_tipi").value;
   var kullanici = document.getElementById("id_kullanici").value;
   var eleman = document.getElementById("id_eleman").value;
   var adi = document.getElementById("id_adi").value;
   var soyadi = document.getElementById("id_soyadi").value;
   alert("rfid tipi..."+rfid_tipi);
   alert("kullanici.."+kullanici);
   alert("eleman.."+eleman);
   alert("adı.."+adi);
   alert("soyadi.."+soyadi);
   /*
   if  ((rfid_tipi == "O") && ( adi == "" || soyadi == ""))
   {
      alert("isim alanlarını doldurmalisınız..!!");

   }
   */

}
</script>



<script>
function kaydet_2() {
   alert("kybele  .....");
   var rfid_tipi = document.getElementById("id_rfid_tipi").value;
   var kullanici = document.getElementById("id_kullanici").value;
   var eleman = document.getElementById("id_eleman").value;
   var adi = document.getElementById("id_adi").value;
   var soyadi = document.getElementById("id_soyadi").value;
   alert("rfid tipi..."+rfid_tipi);
   alert("kullanici..."+kullanici);
   alert("çalisan.."+calisan);
   alert("adı.."+adi);
   alert("soyadi.."+soyadi);


     if ((rfid_tipi == "D" || rfid_tipi == "T") &&  kullanici == "")
        { alert("kullanıcı alanı dolu olmalı ..!!");}
        else
            if ((rfid_tipi == "O") &&  eleman == "")
                { alert("kullanıcı alanı dolu olmalı ..!!");}
                else  { document.getElementById("rfid_form").submit(); }

}
</script>


<script>
  function degistir() {
      //alert("buraya da geldi...degistir .........");
       var x = document.getElementById("id_rfid_tipi").value;
       var a = document.getElementById("id_kullanici");
       var b = document.getElementById("id_eleman");

       //alert("value"+x);
       if (x == "O") {
           a.value = "";
           a.disabled = true;
           b.disabled = false;
       } else {
         a.disabled = false;
         b.disabled = true;
         b.value = "";
       }
  }
</script>

<script>
    $( ".kaydet" ).kaydet()
    } );
</script>



<script>
    $( ".degistir" ).degistir()
    } );
</script>


<h4> RFID Dosyası</h4>

<p> &emsp; </p>

<form action="" method="POST"  id="rfid_form"  >
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <!-- <input type="button" onclick="kaydet()" value="kaydet"> -->
    <input type="submit" value="kaydet" />

</form>




<script>
      $(document).ready(function(){

                  //alert ( "...bolum detay seç çalıştı...");
                   degistir();

              });  /* document ready  kapanıyor */
</script>


<script>
      $(document).ready(function(){
             $("#id_rfid_tipi").change(function(){
                  //alert ( "...bolum detay seç çalıştı...");
                   degistir();
                 });   /*  change  kapanıyor ...  */
              });  /* document ready  kapanıyor */
</script>




{% endblock %}
