
{% extends "base_generic.html" %}

{% block content %}

  <h3>RFID Sayfası</h3>

  <p> &emsp; </p>

  <table >
    <tr>
      <td><b>No:</b></td>
      <td> &emsp; </td>
      <td>{{ rfid_obj.rfid_no }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Proje:</b></td>
      <td> &emsp; </td>
      <td>{{ rfid_obj.proje }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Tipi:</b></td>
      <td> &emsp; </td>
      <td>{{ rfid_obj.rfid_tipi }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Yetkili kullanıcı:</b></td>
      <td> &emsp; </td>
      <td>{{ rfid_obj.calisan }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Adı:</b></td>
      <td> &emsp; </td>
      <td>{{ rfid_obj.adi }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Soyadı:</b></td>
      <td> &emsp; </td>
      <td>{{ rfid_obj.soyadi }}</td>
    </tr>

  </table>






{% endblock %}
