{% extends "base_generic.html" %}

{% block content %}
    <h4>RFID List</h4>
    <p> </p>
    {% if rfid_list %}
    <ul>
      {% for deger in rfid_list %}
        <li>
          <a>({{ deger.id }})</a> -- <a>{{ deger.rfid_no }}</a>--<a>{{ deger.proje }}</a>-- <a>{{ deger.rfid_tipi }} </a> --
          <a>{{ deger.kullanici }} </a> -- <a> {{ deger.adi }} </a> --<a> {{ deger.soyadi }}
        </li>
      {% endfor %}
      <p> </p>
    </ul>
    {% else %}
      <p> RFID verisi yok !!!!!</p>
      <p> </p>
    {% endif %}

{% endblock %}
