

{% extends "base_generic.html" %}

{% block content %}


      <h1>RFID  Sil</h1>

      <p>  <b> id: </b>   &emsp;   {{ rfid_obj.id }}</p>
      <p>  <b> RFID No: </b>  &emsp;   {{ rfid_obj.rfid_no}}</p>
      <p>  <b> Proje: </b>   &emsp;   {{ rfid_obj.proje }}</p>
      <p>  <b> Tipi: </b>  &emsp;   {{ rfid_obj.rfid_tipi}}</p>
      <p>  <b> Adı: </b>  &emsp;   {{ rfid_obj.adi }}</p>
      <p>  <b> Soyadı: </b>   &emsp;   {{ rfid_obj.soyadi }}</p>


      <p>Bu kaydı silmek istediğinizden emin misiniz: </p>

      <form action="" method="POST">
        {% csrf_token %}
      <a href="kesin"> Evet sil </a>
      </form>

{% endblock %}
