


{% extends "base_generic.html" %}

{% block content %}


<button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'isemri_yarat' %}'">Is Emri Oluştur</button>

<button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'eposta_gonder' %}'">eposta gönder</button>


<p> </p>
<p> </p>


    <p> </p> &emsp;

    <h4>  Denetim İş Emri Detayları </h4>
    <p> </p> &emsp;




        <table border="0">
            <tbody>
                <tr>
                    <td><b>Denetim Adı:</b></td>
                    <td>  &emsp; {{ denetim_adi }} </td>
                </tr>
                <tr>
                    <td><b>Denetlenen:</b></td>
                    <td> &emsp; {{ musteri }}  </td>
                </tr>
                <tr>
                    <td><b>Denetçi:   </b></td>
                    <td> &emsp; {{ denetci }}  </td>
                </tr>
                <tr>
                    <td><b>Denetim Tipi:</b></td>
                    <td>  &emsp;  {{ tipi }} </td>
                </tr>
                <tr>
                    <td><b>Oluşturma Tarihi:</b></td>
                    <td> &emsp; {{ yaratim_tarihi }}  </td>
                </tr>
                <tr>
                    <td><b>Oluşturan:   </b></td>
                    <td> &emsp;  {{ yaratan }}  </td>
                </tr>
                <tr>
                    <td><b>Hedef Başlangıç Tarihi:</b></td>
                    <td> &emsp; {{ hedef_baslangic }} </td>
                </tr>
                <tr>
                    <td><b>Hedef Bitiş Tarihi:   </b></td>
                    <td> &emsp; {{ hedef_bitis }}  </td>
                </tr>

            </tbody>
        </table>
      <p> </p> &emsp;

        <h5> <b> Gözlemciler: </b> <h5>
        <p> </p>
        {% for gozlemci in gozgoz %}
        <tr>
            <td> {{ gozlemci }} </td>
        </tr>
        <p> </p>
        {% endfor %}

    <p> </p> &emsp;
    <p> </p> &emsp;
    <h5> <b> Denetlenecek bölüm ve detaylar: </b> <h5>
    <p> </p> &emsp;
    <p> </p>

        {% if dict_bol_detay %}
            <!-- <strong>There are logs present.</strong>  -->
            <p> </p>
        {% else %}
            <strong>There are no logs present.</strong>
            <p> </p>
        {% endif %}


    {% for bolum, detay in dict_bol_detay.items %}
        <tr>
            <td> {{ bolum.bolum_kodu }} &emsp;  {{ bolum.bolum_adi }}</td>
        </tr>
        <p> </p>

        {% for detay in detay %}
        <tr>
            <td> {{ detay.detay_kodu }} &emsp;   {{ detay.detay_adi }}</td>
        </tr>
        <p> </p>
        {% endfor %}

    {% endfor %}




{% endblock %}
