
{% extends "base_generic.html" %}

{% block content %}
    <h3>Sonuç Listesi</h3>
    <p> </p>
    <h4> Seçili Denetim:&emsp; {{ denetim_obj.denetim_adi}} </h4>
    <p> </p>
    <h5> Puan          :&emsp; {{ denetim_obj.ortalama_puan}} </h5>
    <p>  &emsp; </p>

    {% if sonuc_bolum_list %}

        <table cellspacing="10" cellpadding="0">
                <tr>
                  <th>Bölüm Kodu</th>
                  <th> &emsp;&emsp; </th>
                  <th>Bölüm Adı</th>
                  <th> &emsp;&emsp; </th>
                  <th>Ortalama Puan</th>
                </tr>

            {% for sonuc in sonuc_bolum_list %}

                <tr >
                  <td>{{ sonuc.bolum.bolum_kodu }}  </td>
                  <td> &emsp;&emsp; </td>
                  <td>{{ sonuc.bolum.bolum_adi }}  </td>
                  <td> &emsp;&emsp; </td>
                  <td>{{ sonuc.ortalama_puan }}  </td>
                </tr>

            {% endfor %}
        </table>

    {% else %}
      <p>Kayıtlı bölüm yok  </p>
    {% endif %}

    <p>  &emsp; </p>

    {% if sonuc_detay_list %}

        <table cellspacing="10" cellpadding="0">
                <tr>
                  <th>Bölüm</th>
                  <th> &emsp;&emsp;</th>
                  <th>Soru</th>
                  <th> &emsp;&emsp;</th>
                  <th>D.D.</th>
                  <th> &emsp;&emsp;</th>
                  <th>P</th>
                </tr>

            {% for sonuc in sonuc_detay_list %}

                <tr>
                  <td> <a href="{{sonuc.id}}">  {{ sonuc.bolum.bolum_adi }}  </a> </td>
                  <td> &emsp;&emsp; </td>
                  <td>  <a href="{{sonuc.id}}"> {{ sonuc.detay.detay_adi }} </a> </td>
                  <td> &emsp;&emsp; </td>
                  <td> <a href="{{sonuc.id}}">  {{ sonuc.denetim_disi }} </a> </td>
                  <td> &emsp;&emsp; </td>
                  {% if sonuc.puanlama_turu == "A" %}
                      <td> <a href="{{sonuc.id}}">  {{ sonuc.onluk }} </a> </td>
                      <td> <a href="{{sonuc.id}}"> /10 </a> </td>
                  {% endif %}
                  {% if sonuc.puanlama_turu == "B" %}
                      <td> <a href="{{sonuc.id}}">  {{ sonuc.beslik }} </a> </td>
                      <td> <a href="{{sonuc.id}}">  /5 </a> </td>
                  {% endif %}
                  {% if sonuc.puanlama_turu == "C" %}
                      <td> <a href="{{sonuc.id}}">  {{ sonuc.ikilik }} </a> </td>
                      <td> <a href="{{sonuc.id}}"> /2 </a> </td>
                  {% endif %}
                </tr>

            {% endfor %}
        </table>

    {% else %}
      <p>Kayıtlı sonuc yok  </p>
    {% endif %}

{% endblock %}
