

{% extends "base_generic.html" %}

{% block content %}


        <div class="page-wrapper">
                        <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">EasyCheck&#169;</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Denetimler</li>
                    </ol>
                </div>

            </div>

            <div class="container-fluid">



	<div class="row">
                    <div class="col-12">


		   <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Denetimler</h4>
                                <h6 class="card-subtitle">Toplam 33 adet denetim bulunmaktadır.</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Adı:</th>
                                                <th>Proje:</th>
                                                <th>Durum:</th>
												<th>Planlı/Rutin:</th>
												<th>Denetçi:</th>
												<th>Takipçiler:</th>
                                                <th class="text-nowrap">Düzenle</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Doğu Kanadı 1. Kat Genel Erkek Tuvaleti</td>
                                                <td>Alpha AVM</td>
                                                <td>
												<i data-toggle="tooltip" data-original-title="Yeni Eklenen" class="mdi mdi-checkbox-blank-circle-outline text-info"></i>
												</td>
												<td>Rutin</td>
												<td><a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a></td>
                                                <td>
												<a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>
												<a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>
												</td>

												<td class="text-nowrap">
                                                    <a href="#" data-toggle="tooltip" data-original-title="Düzenle"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="#" data-toggle="tooltip" data-original-title="Sil"> <i class="fa fa-close text-danger"></i> </a>
                                                </td>
                                            </tr>

											  <tr>
                                                <td>Doğu Kanadı 1. Kat Genel Erkek Tuvaleti</td>
                                                <td>Alpha AVM</td>
                                                <td>
												<i data-toggle="tooltip" data-original-title="Devam Eden" class="mdi mdi-checkbox-marked-circle-outline text-success"></i>
												</td>
												<td>Planlı</td>
												<td><a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a></td>
                                                <td>
												<a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>
												<a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>
												</td>

												<td class="text-nowrap">
                                                    <a href="#" data-toggle="tooltip" data-original-title="Düzenle"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="#" data-toggle="tooltip" data-original-title="Sil"> <i class="fa fa-close text-danger"></i> </a>
                                                </td>
                                            </tr>

											 <tr>
                                                <td>Doğu Kanadı 1. Kat Genel Erkek Tuvaleti</td>
                                                <td>Alpha AVM</td>
                                                <td>
												<i data-toggle="tooltip" data-original-title="Tamamlanan" class="mdi mdi-check-circle-outline text-purple"></i>
												</td>
												<td>Planlı</td>
												<td><a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a></td>
                                                <td>
												<a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>
												<a href="#" data-toggle="tooltip" data-original-title="Ahmet Akküp"><img width="30"  style="border-radius:100%;"src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>
												</td>

												<td class="text-nowrap">
                                                    <a href="#" data-toggle="tooltip" data-original-title="Düzenle"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="#" data-toggle="tooltip" data-original-title="Sil"> <i class="fa fa-close text-danger"></i> </a>
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>





            </div>

<footer class="footer"> © 2018 EasyCheck&#169; - Her Hakkı Saklıdır. </footer>
</div>


{% endblock %}
