
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}images/logo/favicon.png">
    <title>EasyCheck&#169;</title>
    <link href="{{ STATIC_URL }}style/bootstrap.min.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style/blue.css" id="theme" rel="stylesheet">
	<link href="{{ STATIC_URL }}style/tablesaw.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">


<div id="main-wrapper">

<header class="topbar">
<nav class="navbar top-navbar navbar-expand-md navbar-light">

<div class="navbar-header">
<a class="navbar-brand" href="index.html">
<b>
<img src="{{ STATIC_URL }}images/logo/logo-icon.png" alt="EasyCheck&#169;" class="dark-logo" />
<img src="{{ STATIC_URL }}images/logo/logo-light-icon.png" alt="EasyCheck&#169;" class="light-logo" />
</b>
<span>
<img src="{{ STATIC_URL }}images/logo/logo-text.png" alt="EasyCheck&#169;" class="dark-logo" />
<img src="{{ STATIC_URL }}images/logo/logo-light-text.png" class="light-logo" alt="EasyCheck&#169;" />
</span>
</a>
</div>

<div class="navbar-collapse">
<ul class="navbar-nav mr-auto mt-md-0">
<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
<li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
</a>

<div class="dropdown-menu mailbox animated slideInUp">
<ul>
<li><div class="drop-title">GÖREV UYARILARI</div></li>

<li>
<div class="message-center">
<a href="#">
<div class="btn btn-danger btn-circle"><i class="fa fa-comment"></i></div>
<div class="mail-contnet">
<h5>Ahmet Akküp</h5>
<span class="mail-desc">Haydarpaşa Garı Temizlik Denetlemesi</span>
<span class="time">12.02.2018</span>
</div>
</a>
</div>
</li>

<li>
<a class="nav-link text-center" href="javascript:void(0);"> <strong>Bütün Görevler</strong> <i class="fa fa-angle-right"></i> </a>
</li>
</ul>
</div>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
</a>

<div class="dropdown-menu mailbox animated slideInUp" aria-labelledby="2">
<ul>
<li><div class="drop-title">3 yeni mesajınız var!</div></li>
<li>
<div class="message-center">

<a href="#">
<div class="user-img"> <img src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmet akküp" class="img-circle">
<span class="profile-status online pull-right"></span>
</div>
<div class="mail-contnet">
<h5>Ahmet Akküp</h5> <span class="mail-desc">Beni hemen ara Admin!</span> <span class="time">11:00 AM</span> </div>
</a>

<a href="#">
<div class="user-img"> <img src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="img-circle">
<span class="profile-status busy pull-right"></span>
</div>
<div class="mail-contnet">
<h5>Ahmet Akküp</h5> <span class="mail-desc">Ne var ki 1 saatlik iş :)</span> <span class="time">10:50 AM</span> </div>
</a>

<a href="#">
<div class="user-img"> <img src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="img-circle">
<span class="profile-status away pull-right"></span>
</div>
<div class="mail-contnet">
<h5>Ahmet Akküp</h5> <span class="mail-desc">O kaddar easy ki sorma :)</span> <span class="time">9:08 AM</span> </div>
</a>

</div>
</li>
<li>
<a class="nav-link text-center" href="javascript:void(0);"> <strong>Bütün Mesajlar</strong> <i class="fa fa-angle-right"></i> </a>
</li>
</ul>
</div>
</li>

</ul>

<ul class="navbar-nav my-lg-0">

<li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
<form class="app-search"><input type="text" class="form-control" placeholder="denetim falan aranabilir..."> <a class="srh-btn"><i class="ti-close"></i></a> </form>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup" class="profile-pic" /></a>

<div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmetakkup"></div>
                                            <div class="u-text">
                                                <h4>Ahmet Akküp</h4>
                                                <p class="text-muted">ahmetakkup@3goz.com</p>
												<a href="/" class="btn btn-rounded btn-danger btn-sm">Profili Gör</a></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i> Profilim</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> Görevlerim</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Mesajlarım</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-settings"></i> Ayarlarım</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="login.html"><i class="fa fa-power-off"></i> Çıkış</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>



        <aside class="left-sidebar">
            <div class="scroll-sidebar">

                <div class="user-profile">
                    <div class="profile-img"> <img src="{{ STATIC_URL }}images/user/ahmetakkup.jpg" alt="ahmet akkup" />
                        <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </div>
                    <div class="profile-text">
                        <h5>Ahmet Akküp</h5>
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                        <a href="/" class="" data-toggle="tooltip" title="E-Posta Gönder"><i class="mdi mdi-gmail"></i></a>
                        <a href="login.html" class="" data-toggle="tooltip" title="Çıkış Yap"><i class="mdi mdi-power"></i></a>
                        <div class="dropdown-menu animated flipInY">
                            <a href="#" class="dropdown-item"><i class="ti-user"></i> Profilim</a>
                            <a href="#" class="dropdown-item"><i class="ti-wallet"></i> Görevlerim</a>
                            <a href="#" class="dropdown-item"><i class="ti-email"></i> Mesajlarım</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="ti-settings"></i> Ayarlarım</a>
                            <div class="dropdown-divider"></div>
                            <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Çıkış Yap</a>
                        </div>
                    </div>
                </div>





                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
					 <li class="nav-devider"></li>

					                        <li class="nav-small-cap">SİSTEM AYARLARI</li>
											                 <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-chemical-weapon"></i><span class="hide-menu">Grup</span></a></li>

                        <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-city"></i><span class="hide-menu">Şirket</span></a></li>
						                 <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Proje</span></a></li>



                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">DENETİM AYARLARI</li>

                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-checkbox-marked-circle-outline"></i><span class="hide-menu">Denetimler<span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Oluştur</a></li>
                                <li><a href="#">Düzenle</a></li>
								<li><a href="#">Detaylar</a></li>
                                <li><a href="#">Sil</a></li>
                            </ul>
                        </li>
						    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-brightness-7"></i><span class="hide-menu">Tanımlamalar<span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Denetim Tipi</a></li>
                                <li><a href="#">Denetim Zonu</a></li>
								<li><a href="#">Denetim Bölümü</a></li>
                                <li><a href="#">Denetim Detayı</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-crosshairs-gps"></i><span class="hide-menu">Uygulamalar<span class="label label-rouded label-themecolor pull-right">3</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Yeni Eklenenler</a></li>
                                <li><a href="#">Devam Edenler</a></li>
                                <li><a href="#">Tamamlananlar</a></li>
                            </ul>
                        </li>

								 <li class="nav-devider"></li>

					                        <li class="nav-small-cap">DENETÇİ AYARLARI</li>

											 <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-brightness-6"></i><span class="hide-menu">Denetim Durumu<span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Planlı Denetimler</a></li>
                                <li><a href="#">Rutin Denetimler</a></li>
								<li><a href="#">Devam Edenler</a></li>
                                <li><a href="#">Denetim Sonuçları</a></li>
                            </ul>
                        </li>
						<li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Bilgi Ekle</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-bell-ring"></i><span class="hide-menu">Acil Bildirim</span></a></li>
						<li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-qrcode-scan"></i><span class="hide-menu">QRCode</span></a></li>
						<li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-checkbox-marked-circle"></i><span class="hide-menu">Denetimi Tamamla</span></a></li>



                                            <li class="nav-devider"></li>
											                         <li class="nav-small-cap">DENETİM RAPORLARI</li>
																	 																	    <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Denetim Analizleri</span></a></li>

																	    <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-bookmark-check"></i><span class="hide-menu">Denetim Notları <span class="label label-rouded label-success">7</span></span></a></li>

                        <li> <a class="waves-effect waves-dark" href="#" ><i class="mdi mdi-bell-ring-outline"></i><span class="hide-menu">Denetim Logları <span class="label label-rouded label-danger ">25</span></span></a></li>



                    </ul>
                </nav>
            </div>
        </aside>












        <div class="page-wrapper">
                        <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">EasyCheck&#169;</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Denetimler</li>
                    </ol>
                </div>

            </div>

            <div class="container-fluid">



<div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Denetim Oluştur</h4>
                            </div>
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="card-title">Denetim Bilgileri</h3>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Denetim Adı</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                                    </div>
                                            </div>

											<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Proje</label>
                                                    <select class="form-control custom-select" data-placeholder="Lütfen Projeyi Seçiniz" tabindex="1">
                                                        <option value="proje 1">Proje 1</option>
                                                        <option value="proje 2">Proje 2</option>
                                                        <option value="proje 3">Proje 3</option>
                                                        <option value="proje 4">Proje 4</option>
                                                    </select>
                                                </div>
                                            </div>

											</div>

											                                        <div class="row">

											 <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Planlı / Rutin</label>
                                                    <div class="m-b-10">
                                                        <label class="custom-control custom-radio" >
                                                            <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                                            <span class="custom-control-label">Planlı</span>

                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                                            <span class="custom-control-label">Rutin</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

											<div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Denetçi</label>
                                                    <select class="form-control custom-select" data-placeholder="Lütfen Denetçi Seçiniz" tabindex="0">
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                    </select>
                                                </div>
                                            </div>

											<div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Denetim Tipi</label>
                                                    <select class="form-control custom-select" data-placeholder="Lütfen Denetçi Seçiniz" tabindex="0">
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                    </select>
                                                </div>
                                            </div>

											<div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Takipçi</label>
                                                    <select class="form-control custom-select" data-placeholder="Lütfen Denetçi Seçiniz" tabindex="0">
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                    </select>
                                                </div>
                                            </div>

											</div>
											                                        <div class="row">

											<div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Başlangıç Tarihi</label>
                                                     <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                                    </div>
                                            </div>

											<div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Bitiş Tarihi</label>
                                                     <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                                    </div>
                                            </div>

											<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Bölümler</label>
                                                    <select class="form-control custom-select" data-placeholder="Lütfen Denetçi Seçiniz" tabindex="0">
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                        <option value="Ahmet Akküp">Ahmet Akküp</option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>


                                        <h3 class="box-title m-t-40">Açıklama</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                 <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <h3 class="box-title m-t-40">Denetim Soruları</h3>
                                        <hr>
										                                        <div class="row">


                                     <div class="col-md-6">
                                            <div class="form-group">
                                                    <fieldset>
                                                        <label class="custom-control custom-checkbox">
                                                            <input value="x" name="styled_checkbox" required="" class="custom-control-input" aria-invalid="false" type="checkbox"><span class="custom-control-label">Denetim Sorusu 1</span> </label>
                                                    </fieldset>
                                                    <fieldset>
                                                        <label class="custom-control custom-checkbox">
                                                            <input value="y" name="styled_checkbox" class="custom-control-input" aria-invalid="false" type="checkbox"><span class="custom-control-label">Denetim Sorusu 2</span> </label>
                                                    </fieldset>
                                            </div>
                                        </div>

										 <div class="col-md-6">
                                            <div class="form-group">
                                                    <fieldset>
                                                        <label class="custom-control custom-checkbox">
                                                            <input value="x" name="styled_checkbox" required="" class="custom-control-input" aria-invalid="false" type="checkbox"><span class="custom-control-label">Denetim Sorusu 3</span> </label>
                                                    </fieldset>
                                                    <fieldset>
                                                        <label class="custom-control custom-checkbox">
                                                            <input value="y" name="styled_checkbox" class="custom-control-input" aria-invalid="false" type="checkbox"><span class="custom-control-label">Denetim Sorusu 4</span> </label>
                                                    </fieldset>
                                            </div>
                                        </div>



										</div>

                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> DENETİM OLUŞTUR</button>
                                        <button type="button" class="btn btn-inverse">KAPAT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>





            </div>

<footer class="footer"> © 2018 EasyCheck&#169; - Her Hakkı Saklıdır. </footer>
</div>
</div>

    <script src="{{ STATIC_URL }}script/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}script/popper.min.js"></script>
    <script src="{{ STATIC_URL }}script/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}script/jquery.slimscroll.js"></script>
    <script src="{{ STATIC_URL }}script/waves.js"></script>
    <script src="{{ STATIC_URL }}script/sidebarmenu.js"></script>
    <script src="{{ STATIC_URL }}script/sticky-kit.min.js"></script>
    <script src="{{ STATIC_URL }}script/custom.min.js"></script>
    <script src="{{ STATIC_URL }}script/jquery.sparkline.min.js"></script>
	<script src="{{ STATIC_URL }}script/tablesaw.js"></script>
    <script src="{{ STATIC_URL }}script/tablesaw-init.js"></script>
    <script src="{{ STATIC_URL }}script/jQuery.style.switcher.js"></script>



</body>

</html>
