
{% extends "base_generic.html" %}

{% block content %}
  <h4> Proje Yer Sayfası</h4>

  <p> &emsp; </p>

  <table >
    <tr>
      <td><b>Alanı:</b></td>
      <td> &emsp; </td>
      <td>{{ yer.proje_alanlari }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Adı:</b></td>
      <td> &emsp; </td>
      <td>{{ yer.yer_adi }}</td>
    </tr>
    <tr>
      <td> &emsp; </td>
    </tr>
    <tr>
      <td><b>Mac No:</b></td>
      <td> &emsp; </td>
      <td>{{ yer.mac_no }}</td>
    </tr>

  </table>

</br></br></br>
Planlı Operasyonlar</br>
---------------------</br>
{% if opr_obj %}
    {% for opr in opr_obj %}
      {{ opr.gun }} ---   {{ opr.zaman }} </br>
    {%  endfor %}
{% else %}
veri yok...</br>
{% endif %}
</br>
Planlı Denetimler</br>
--------------------</br>
{% if den_obj %}
  {% for den in den_obj %}
    {{ den.gun }} ---   {{ den.zaman }} </br>
  {%  endfor %}
{% else %}
veri yok...</br>
{% endif %}

{% endblock %}
