
{% extends "base_generic.html" %}

{% block content %}
  <h3> Proje Yer Sayfası</h3>
  <p> </p>
  <p><strong>Alanı:</strong> {{ yer.proje_alanlari }}</p>
  <p><strong>Adı:</strong> {{ yer.yer_adi }}</p>
  <p><strong>Mac#:</strong> {{ yer.mac_no }}</p>

  <h4> Operasyon Zamanları</h4>

  {% if a %}
  <ul>
    <table style="width:100%">
      <tr>
        <th>Pazartesi</th>
        <th>Salı.....</th>
        <th>Çarşamba.</th>
        <th>Perşembe.</th>
        <th>Cuma.....</th>
        <th>Cumartesi</th>
        <th>Pazar....</th>
      </tr>
      {% for i in a%}
        <tr>
          <th  style="font-weight:normal;">{{ i.0 }} </th>
          <th  style="font-weight:normal;">{{ i.1 }} </th>
          <th  style="font-weight:normal;">{{ i.2 }} </th>
          <th  style="font-weight:normal;">{{ i.3 }} </th>
          <th  style="font-weight:normal;">{{ i.4 }} </th>
          <th  style="font-weight:normal;">{{ i.5 }} </th>
          <th  style="font-weight:normal;">{{ i.6 }} </th>
        </tr>
      {% endfor %}
    </table>
    <br>
    <p> </p>
    <button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'yer_zaman_duzenle' yer.id %}'">Duzenle</button>
  </ul>
  {% else %}
    <p> işlem zamanları planlanmamış....</p>
    <button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'yer_zaman_planla' yer.id %}'">Planla</button>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>

  {% endif %}
  <br>
  <br>

<h4> Denetim Zamanları</h4>
  {% if b %}
  <ul>
    <table style="width:100%">
      <tr>
        <th>Pazartesi</th>
        <th>Salı.....</th>
        <th>Çarşamba.</th>
        <th>Perşembe.</th>
        <th>Cuma.....</th>
        <th>Cumartesi</th>
        <th>Pazar....</th>
      </tr>
      {% for i in b%}
        <tr>
          <th  style="font-weight:normal;">{{ i.0 }} </th>
          <th  style="font-weight:normal;">{{ i.1 }} </th>
          <th  style="font-weight:normal;">{{ i.2 }} </th>
          <th  style="font-weight:normal;">{{ i.3 }} </th>
          <th  style="font-weight:normal;">{{ i.4 }} </th>
          <th  style="font-weight:normal;">{{ i.5 }} </th>
          <th  style="font-weight:normal;">{{ i.6 }} </th>
        </tr>
      {% endfor %}
    </table>
    <br>
    <p> </p>
    <button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'yer_denetim_duzenle' yer.id %}'">Duzenle</button>
  </ul>
  {% else %}
    <p> günlük denetim zamanları planlanmamış....</p>
    <button type="button" class="btn btn-xl"  onclick="window.location.href='{% url 'yer_denetim_planla' yer.id %}'">Planla</button>
    <p> </p>
  {% endif %}

{% endblock %}
