

{% extends "base_generic.html" %}

{% block content %}


      <h3>Yer Operasyon Zamanı Sil</h3>

      <p>Bu operasyon zamanını silmek istediğinizden emin misiniz ???: </p>

      <p>  <b> id   : </b>  &emsp;   {{ sil_id }}</p>
      <p>  <b> Yer  : </b>  &emsp;   {{ sil_yer }}</p>
      <p>  <b> Gün  : </b>  &emsp;   {{ sil_gün }}</p>
      <p>  <b> Zaman: </b>  &emsp;   {{ sil_zaman }}</p>

      <form action="" method="POST">
        {% csrf_token %}
      <a href="kesin"> Evet sil... </a>
      </form>

{% endblock %}
