{% extends "base_generic.html" %}

{% block content %}
    <h4>Yer Bilgisi Listesi</h4>
    <p> </p>
    {% if yerud_list %}
    <ul>
    <li>
        <a>ID </a>&emsp;<a>Mac_No&emsp;&emsp; </a>&emsp;<a>Proje </a> &emsp;<a>Değişim </a> &emsp; <a> Son Zaman </a>
    </li>
    </ul>

    <ul>
      {% for deger in yerud_list %}
        <li>

            <a>{{ deger.id }}</a> &emsp;<a>{{ deger.mac_no }}</a>&emsp; <a>{{ deger.proje }} </a>&emsp;
                   <a>{{ deger.degis }} </a> &emsp; <a> {{ deger.alive_time }} </a>
        </li>
      {% endfor %}
      <p> </p>
    </ul>
    {% else %}
      <p> gelen veri yok !!!!!....</p>
      <p> </p>
    {% endif %}

{% endblock %}
