{% extends "base_generic.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>


table td
{
  table-layout:fixed;
  width:20px;
  overflow:hidden;
  word-wrap:break-word;

}


table {
    width:100%;
}




</style>


    <h4>Yer Bilgisi Listesi</h4>






    <p> </p>



    <script>
          $(document).ready(function(){

                      //alert ( "...bolum detay seç çalıştı...");
                       degistir();

                  });  /* document ready  kapanıyor */
    </script>



    {% if yerud_list %}

                  <table  id="table_id">
                          <tr>
                            <th>Proje</th>
                            <th>Yer</th>
                            <th>Mac No</th>
                            <th>Kod</th>
                            <th>Son Zaman</th>
                          </tr>

                      {% for deger in yerud_list %}

                          <tr class="yn" >
                            <td>{{ deger.proje }}  </td>
                            <td>{{ deger.yer }}  </td>
                            <td>{{ deger.mac_no }}  </td>
                            <td>{{ deger.degis }}  </td>
                            <td>{{ deger.alive_time|date:" d/m/Y - H:i" }}  </td>
                          </tr>

                      {% endfor %}
                  </table>
    {% else %}
      <p> gelen veri yok !!!!!....</p>
      <p> </p>
    {% endif %}


    <div class="pagination">
      <span class="step-links">
          {% if yerud_list.has_previous %}
              <a href="?page={{ yerud_list.previous_page_number }}"> önceki </a>
          {% endif %}

          <span class="current">
              sf {{ yerud_list.number }} / {{ yerud_list.paginator.num_pages }}.
          </span>

          {% if yerud_list.has_next %}
              <a href="?page={{ yerud_list.next_page_number }}"> sonraki </a>
          {% endif %}
      </span>
    </div>






{% endblock %}
