


{% extends "base_generic.html" %}

{% block content %}

  <a href="/pdf1"> PDF Oluştur </a>
  <p> </p>
  <a href="/xyz"> PDF öncesi.... </a>
  <p> </p>

  {% if durum == "B" %}
      <a href="/islem/baslat"> Denetim başlat..... </a>
      <p> </p>
  {% else %}
      <a href="/islem/baslat/devam"> Denetim devam ettir..... </a>
        <p> </p>
      <a href="/islem/baslat/bolumler_tekrar"> Denetlenen bolumler tekrar..... </a>
        <p> </p>

  {% endif %}


  <a href="/abc"> Camera..... </a>
  <p> </p>


    <h4>  Denetim İş Emri Detayları </h4>
    <p> </p> &emsp;
        {% if dict_bol_detay %}
            <!-- <strong>There are logs present.</strong>  -->
            <p> </p>
        {% else %}
            <strong>There are nooooooooooooo logs present.</strong>
            <p> </p>
        {% endif %}



        <table border="0">
            <tbody>
                <tr>
                    <td><b>Denetim Adı:</b></td>
                    <td>  &emsp; {{ denetim_adi }} </td>
                </tr>
                <tr>
                    <td><b>Denetlenen:</b></td>
                    <td> &emsp; {{ musteri }}  </td>
                </tr>
                <tr>
                    <td><b>Denetçi:   </b></td>
                    <td> &emsp; {{ denetci }}  </td>
                </tr>
                <tr>
                    <td><b>Denetim Tipi:</b></td>
                    <td>  &emsp;  {{ tipi }} </td>
                </tr>
                <tr>
                    <td><b>Oluşturma Tarihi:</b></td>
                    <td> &emsp; {{ yaratim_tarihi }}  </td>
                </tr>
                <tr>
                    <td><b>Oluşturan:   </b></td>
                    <td> &emsp;  {{ yaratan }}  </td>
                </tr>
                <tr>
                    <td><b>Hedef Başlangıç Tarihi:</b></td>
                    <td> &emsp; {{ hedef_baslangic }} </td>
                </tr>
                <tr>
                    <td><b>Hedef Bitiş Tarihi:   </b></td>
                    <td> &emsp; {{ hedef_bitis }}  </td>
                </tr>







            </tbody>
        </table>











 <p> </p>
    <p> </p>
    <p> </p>
   <p> </p>
 <p> </p>
   <p> </p>

    <p> </p> &emsp;
    <p> </p> &emsp;
    <h5> <b> Denetlenecek bölüm ve detaylar: </b> <h5>
    <p> </p> &emsp;
    <p> </p>
    {% for bolum, detay in dict_bol_detay.items %}
        <tr>
            <td> {{ bolum.bolum_kodu }} &emsp;  {{ bolum.bolum_adi }}</td>
        </tr>
        <p> </p>

        {% for detay in detay %}
        <tr>
            <td> {{ detay.detay_kodu }} &emsp;   {{ detay.detay_adi }}</td>
        </tr>
        <p> </p>
        {% endfor %}

    {% endfor %}




{% endblock %}
