
{% extends "base_generic.html" %}

{% block content %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'> </script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->


  <script>
  $(function() {
  $.datepicker.regional['tr'] = {
    monthNames: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran',
    'Temmuz','Ağustos','Eylül','Ekim','Kasım','Aralık'],
    monthNamesShort: ['Oca','Şub','Mar','Nis','May','Haz',
    'Tem','Ağu','Eyl','Eki','Kas','Ara'],
    weekHeader: 'Hf', weekStatus: '',
    dayNames: ['Pazar','Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi'],
    dayNamesShort: ['Paz','Pzt','Sal','Çar','Per','Cum','Cmt'],
    dayNamesMin: ['Pa','Pt','Sa','Ça','Pe','Cu','Ct'],
    dateFormat: 'yy-mm-dd', firstDay: 1,
    prevText: 'Önce',
    nextText: 'Sonra',
    isRTL: false};
  $.datepicker.setDefaults($.datepicker.regional['tr']);
  $( "#datepicker_1" ).datepicker()
  $( "#datepicker_2" ).datepicker()
  } );
  </script>






  <script>
  function setChart(labels_1, defaultData_1, labels_2, defaultData_2){
      //alert("buraya da geldi  setchart()..................");
      //alert("label_1..."+labels_1);
      //alert("default data 1.."+defaultData_1);
      //alert("label_2..."+labels_2);
      //alert("default data 2.."+defaultData_2);
      var ctx = document.getElementById("myChart");
      //ctx.textAlign = "center";
      //ctx.canvas.width = 300;
      //ctx.canvas.height = 300;
      var ctx2 = document.getElementById("myChart2");
      //ctx2.canvas.width = 300;
      //ctx2.canvas.height = 300;
      //ctx2.textAlign = "center";
      var myChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labels_2,
                datasets: [{
                    label: 'Memnuniyetsizlik Sebepleri',
                    data: defaultData_2,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                        'rgba(75, 192, 192, 0.8)',
                        'rgba(153, 102, 255, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(255, 99, 132, 0.8)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                /*
                layout: {
                     padding: {
                         left: 0,
                         right: 0,
                         top: 0,
                         bottom: 0
                     }
                }
                */
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            //min: 30
                        }
                    }]
                }
            }
          });  //  end  new chart.....chart 1 ....

            var myChart = new Chart(ctx, {
            //type: 'polarArea',
            type: 'pie',
            data: {
                labels: labels_1,
                datasets: [{
                    label: 'Memnuniyet',
                    data: defaultData_1,
                    backgroundColor: [
                        'rgba(0, 255, 0, 0.6)',
                        'rgba(255, 255, 0, 0.6)',
                        'rgba(255, 0, 0, 0.6)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },

            options: {
              segmentShowStroke : true,
          		segmentStrokeColor : "#fff",
          		segmentStrokeWidth : 2,
          		percentageInnerCutout : 50,
          		animationSteps : 100,
          		animationEasing : "easeOutBounce",
          		animateRotate : true,
          		animateScale : false,
          		responsive: true,
          		maintainAspectRatio: false,
          		showScale: true,
          		animateScale: true
            }

        });   // end   second chart............

  }  // end ************  function  set chart  ****************
  // var ctx = document.getElementById("myChart");
  </script>


  <script>
  $(document).ready(function(){
    //alert("buraya geldi....");
    index_data = {{ index_data | safe }};
    //alert("index data burada"+index_data);
    var labels_1 = index_data.labels_1;
    var defaultData_1 = index_data.default_1;
    var labels_2 = index_data.labels_2;
    var defaultData_2 = index_data.default_2;
    //alert("label_1..."+labels_1);
    //alert("default data 1.."+defaultData_1);
    //alert("label_2..."+labels_2);
    //alert("default data 2.."+defaultData_2);
    $("#div_proje").text("Proje: "+ index_data.proje);
    $("#m1").text(index_data.mem_1);
    $("#m2").text(index_data.mem_2);
    $("#m3").text(index_data.mem_3);
    $("#mt").text(index_data.mem_toplam);
    $("#my1").text("%"+index_data.m_yuzde_1);
    $("#my2").text("%"+index_data.m_yuzde_2);
    $("#my3").text("%"+index_data.m_yuzde_3);
    $("#s1").text(index_data.seb_1);
    $("#s2").text(index_data.seb_2);
    $("#s3").text(index_data.seb_3);
    $("#s4").text(index_data.seb_4);
    $("#s5").text(index_data.seb_5);
    $("#s6").text(index_data.seb_6);
    $("#st").text(index_data.seb_toplam);
    $("#sy1").text("%"+index_data.s_yuzde_1);
    $("#sy2").text("%"+index_data.s_yuzde_2);
    $("#sy3").text("%"+index_data.s_yuzde_3);
    $("#sy4").text("%"+index_data.s_yuzde_4);
    $("#sy5").text("%"+index_data.s_yuzde_5);
    $("#sy6").text("%"+index_data.s_yuzde_6);
    setChart(labels_1, defaultData_1, labels_2, defaultData_2);
  })
  </script>


</head>

<body>

<h2> Proje Memnuniyet Değerlendirme </h2>

</br>
</br>


<h3 id="div_proje"> </h3>

<div class='row' id="div_canvas" >
    <div class='col-md-12' url-endpoint='{% url "api-data" %}' >

        <div class='col-md-6 chart-container' style="position: relative; height:30vh; width:38vw">
            <canvas id="myChart"></canvas>
        </div>

        <div class='col-md-6 chart-container' style="position:relative; margin-top: 80px;"  >
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>

<p>  &emsp; </p>

<div class='row' id="div_table">
    <div class='col-md-12' url-endpoint='{% url "api-data" %}' >

        <div class='col-md-6'>

          <table >
                  <tr>
                    <th></th>
                    <th>Çok Memnun  &emsp;  &emsp; </th>
                    <th>Memnun   &emsp; &emsp;  </th>
                    <th>Memnun Değil   &emsp;  &emsp; </th>
                    <th>Toplam  &emsp; &emsp;  </th>
                  </tr>


                  <tr>
                    <td align="center"> &emsp;Adet&emsp; </td>
                    <td id="m1" align="center">... </td>
                    <td id="m2" align="center">... </td>
                    <td id="m3" align="center">...  </td>
                    <td id="mt" align="center">...  </td>
                  </tr>


                  <tr>
                    <td align="center">&emsp; Yüzde &emsp; </td>
                    <td id="my1" align="center">... </td>
                    <td id="my2" align="center">... </td>
                    <td id="my3" align="center">...  </td>
                    <td align="center"> - </td>
                  </tr>

          </table>

        </div>

        <div class='col-md-6'>

          <table>
                  <tr>
                    <th></th>
                    <th>Sabunluk &emsp; </th>
                    <th>Lavabo &emsp;   </th>
                    <th>Havlu &emsp;   </th>
                    <th>Koku &emsp;  </th>
                    <th>Tuvalet &emsp;  </th>
                    <th>T.Kağıdı &emsp;  </th>
                    <th>Toplam &emsp;   </th>
                  </tr>

                  <tr>
                    <td align="center">&emsp; Adet &emsp;</td>
                    <td id="s1" align="center">... </td>
                    <td id="s2" align="center">... </td>
                    <td id="s3" align="center">...  </td>
                    <td id="s4" align="center">... </td>
                    <td id="s5" align="center">... </td>
                    <td id="s6" align="center">...  </td>
                    <td id="st" align="center">...  </td>
                  </tr>


                  <tr>
                    <td align="center"> &emsp;Yüzde &emsp;</td>
                    <td id="sy1" align="center">... </td>
                    <td id="sy2" align="center">... </td>
                    <td id="sy3" align="center">...  </td>
                    <td id="sy4" align="center">... </td>
                    <td id="sy5" align="center">... </td>
                    <td id="sy6" align="center">...  </td>
                    <td align="center"> - </td>
                  </tr>

          </table>

        </div>
    </div>
</div>






</body>
</html>


{% endblock %}
