
{% extends "base_generic.html" %}

{% block content %}





<div class="col-lg-12">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-checkbox-blank-circle-outline text-info"></i></h2>
                            <h3 class="">{{ num_tipi }}</h3>
                            <h6 class="card-subtitle">Denetim Tipi</h6></div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 24%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-checkbox-marked-circle-outline text-success"></i></h2>
                            <h3 class="">{{ num_bolum }}</h3>
                            <h6 class="card-subtitle">Denetim Bölümü</h6></div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 54%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0" ><i class="mdi mdi-check-circle-outline text-purple"></i></h2>
                            <h3 class="">{{ num_detay }}</h3>
                            <h6 class="card-subtitle">Denetim Detayı</h6></div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 13%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-lg-8 col-xlg-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h4 class="card-title">Denetim Analizi</h4>
                                    </div>
                                    <div class="ml-auto">
                                        <ul class="list-inline">
                                            <li>
                                                <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Yeni Eklenenler</h6> </li>

                    <li>
                                                <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Devam Edenler</h6> </li>
                    <li>
                                                <h6 class="text-purple"><i class="fa fa-circle font-10 m-r-10 "></i>Tamamlananlar</h6> </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div id="earning" style="height: 355px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
<footer class="footer"> © 2018 EasyCheck&#169; - Her Hakkı Saklıdır. </footer>
</div>












{% endblock %}
