
{% extends "base_generic.html" %}

{% block content %}


<style type="text/css">

  h2 {
  text-align: right;
  color: white;
  font-family: 'Bowlby One SC', cursive;
  font-size: 6vw;
  }

  td.block
  {
  border: 1px solid black;
  }
  .card2 {
      background:#f5ca0a;;
      border:1px solid #AAA;
      border-bottom:3px solid #BBB;
      padding:0px;
      margin:15px;
      overflow:hidden;
  }
  .card2 h1 {
      margin:0px;
      padding:10px;
      padding-bottom:0px;
  }
  .card2 p {
      margin:0px;
      padding:10px;
  }

</style>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
function dataChart() {
    var endpoint = '/charts/api/spv_ort_sonuc/';
    var defaultData = [];
    var labels = [];
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            //alert("gelen data labels"+data.labels);
            //alert("gelen data default"+data.default);
            labels = data.labels;
            defaultData = data.default;
            displayChart(labels, defaultData);
        },
        error: function(error_data){
            console.log("error");
            console.log(error_data);
        }
    });

}
</script>


<script>
function displayChart(labels, defaultData) {
  console.log(labels);
  console.log(defaultData);
  var ctx = document.getElementById("line-chart");
  var myLineChart = new Chart (ctx,  {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
            data: defaultData,
            label: "Denetimler",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Denetim Puanları'
        }
      }
  });
}
</script>


<script>
  $(document).ready(function(){
    //alert("buraya geldi....");
    dataChart();
  })
</script>



  <p> &nbsp; </p>
  <p> &nbsp; </p>
  <div class="row">
      <div class="col-lg-5">
          <div class="card">
              <canvas id="line-chart" width="800" height="450"></canvas>
          </div>
      </div>
      <div class="col-lg-1"> </div>
      <div class="col-lg-5">
          <div class="row">  &nbsp; </div>
          <div class="row">  &nbsp; </div>
          <div class="card2">
             <h1>Tanımlanmış denetimler!</h1>
             <p ><h2> {{ num_yaratan_denetim}}  </h2></p>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="card">
      <p> &nbsp; </p>
      <h4>Bekleyen denetimler </h4>
      {% if secili_denetimler %}
        <ul>
          {% for denetim in secili_denetimler %}
            <li>
              <a href="/islem/denetim/{{denetim.id}}">{{ denetim.denetim_adi }} </a>  &emsp; <a> {{ denetim.hedef_baslangic|date:"d/m/Y" }}</a>
            </li>
          {% endfor %}
          <p> &nbsp;</p>
        </ul>
      {% else %}
        <p>Kayıtlı bekleyen denetim yok ....</p>
        <p> &nbsp;</p>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4"> </div>
    <div class="col-lg-8">
      <footer class="footer"> © 2019 Ez-Check&#169; - Her Hakkı Saklıdır. </footer>
    </div>
  </div>


{% endblock %}
