<!DOCTYPE html>
<html lang="tr">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EZ-Check Denetim Sistemi</title>


<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Our Custom CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'sidebar/style2.css' %}">

<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<!--  dropdown için... -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  />


<!-- dropdown  -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- jQuery CDN -->
<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>




<style>

body {
background-color: #4bf442;
}

.navbar {
    /* overflow: hidden;  */
    background-color: #4286f4;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    /* overflow: hidden; */
    height: 150px;

}

.dropdown .dropbtn2 {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*
.navbar a:hover, .dropdown:hover .dropbtn2, .dropbtn2:focus {
    background-color: red;
}
*/

.dropdown-content2 {
    /* display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */

    /* min-height:90px; */
    /* overflow-y :auto; */
    /* overflow-x:hidden; */
    position:absolute;
    /* width:300px; */
    /* display: contents; */
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 300px;
    height: 150px;
    overflow-y: scroll;
    background-color: #82caff;

}

.dropdown-content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


a.fa-bell {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}
span.fa-comment {
  position: absolute;
  font-size: 0.6em;
  top: -4px;
  color: red;
  right: -4px;
}
span.num {
  position: absolute;
  font-size: 0.3em;
  top: 1px;
  color: #fff;
  right: 2px;
}

.img_for {
    border-radius: 50%;
}

</style>

</head>



<body>



<script type="text/javascript">
   $(document).ready(function () {
       $("#sidebar").mCustomScrollbar({
           theme: "minimal"
       });

       $('#sidebarCollapse').on('click', function () {
           $('#sidebar, #content').toggleClass('active');
           $('.collapse.in').toggleClass('in');
           $('a[aria-expanded=true]').attr('aria-expanded', 'false');
       });
   });
</script>





<div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
                <div class="sidebar-header">
                  <!-- <div class="container">
                    <div class="row">
                      <div class="col-md-4"> -->
                        <a href="{% url 'index' %}"> <img src="{{ STATIC_URL }}images/logo/logo-light-icon.png"
                                                    alt="EasyCheck&#169;" class="dark-logo" />
                                        <img src="{{ STATIC_URL }}images/logo/logo-light-text.png"
                                                    alt="EasyCheck&#169;" class="dark-logo" />
                                    </a>
                    <!--  </div>
                     </div>
                   </div>  -->
                </div>

                <ul class="list-unstyled components">
                    <h4><p>Yönetim ve Denetim Sistemleri</p></h4>
                    <li class="deactive">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Yerinde Denetim</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="/islem">Bekleyen Planlı Denetim</a></li>
                            <li><a href="/islem/rutin_baslat">Rutin Denetim Başlatma</a></li>
                            <li><a href="/islem/devam_liste">Devam Eden Denetimler</a></li>
                            <li><a href="/islem/acil_devam_sec"><b><font color="f44336">Acil Bildirim</font></b></a></li>
                            <li><a href="/islem/sonuc">Denetim Sonuç Detayları</a></li>
                            <li><a href="/islem/rest_create">Rest Ekle</a></li>
                            <li><a href="/islem/rest_list">Rest Listele </a></li>
                            <li><a href="/islem/rest_delete">Rest Sil</a></li>
                            <li><a href="/islem/rest_delete_all">Rest Hepsi Sil</a></li>
                            <li><a href="/islem/mac_list">Mac Listele </a></li>
                            <li><a href="/islem/mac_create">Mac Ekle</a></li>
                            <li><a href="/islem/mac_update">Mac Düzenle</a></li>
                            <li><a href="/islem/mac_list/find_update">Mac Bul ve Düzenle</a></li>
                            <li><a href="/islem/memnuniyet_list">Memnuniyet Listele </a></li>
                            <li><a href="/islem/memnuniyet_create">Memnuniyet Ekle</a></li>
                            <li><a href="/islem/memnuniyet_update">Memnuniyet Düzenle</a></li>
                            <li><a href="/islem/memnuniyet_list/find_update">Memnuniyet Bul ve Düzenle</a></li>
                            <li><a href="/islem/deneme_dropdown">deneme dropdown</a></li>
                            <!-- <li><a href="/islem/Mac_delete">Mac Sil</a></li>  -->
                            <!-- <li><a href="/islem/qrcode">QR code</a></li> -->
                        </ul>
                    </li>
                    <li>
                      <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">Denetim Oluştur</a>
                      <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li><a href="/islem/denetim/teksayfa_yarat">Denetim Yarat</a></li>
                        <li><a href="/islem/denetim/teksayfa_duzenle">Denetim Düzenle</a></li>
                        <li><a href="/islem/denetim/teksayfa_sil">Denetim Sil</a></li>
                        <li><a href="/islem/denetim">Denetim Detayları</a><!-- row.... --></li>
                        <li><a href="/notification/create">bildirim yarat</a></li>
                        <li><a href="/notification">bildirim listele</a></li>
                      </ul>
                  </li>
                  <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false">Denetimler</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                      <li><a href="/islem/denetim/baslanmislar">Başlanmış Denetimler</a></li>
                      <li><a href="/islem/denetim/raporlar">Denetim Raporları</a></li>
                      {% if  user.profile.denetim_grup_yetkilisi == "E" %}
                          <li><a href="/islem/denetim/iptal">Denetim İptal</a></li>
                      {% endif %}
                    </ul>
                  </li>

                  <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Tanımlar</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="/islem/tipi">Denetim Tipi</a></li>
                        <li><a href="/islem/zon">Denetim Alanı</a></li>
                        <li><a href="/islem/bolum">Denetim Bölümü</a></li>
                        <li><a href="/islem/soru_listesi">Soru Listesi</a></li>
                        <li><a href="/islem/detay">Denetim Sorusu</a></li>
                        <li><a href="/islem/grup">Grup</a></li>
                        <li><a href="/islem/sirket">Şirket</a></li>
                        <li><a href="/islem/proje">Proje</a></li>
                        <li><a href="/islem/projealanlari">Proje Alanları</a></li>
                        <li><a href="/islem/yer">Yer</a></li>
                        <li><a href="/islem/qrdosyasi">QRCode</a></li>
                    </ul>
                </li>
               </ul>


            </nav>


    <!-- Page Content Holder -->
    <div id="content">

            <nav class="navbar navbar-default">
                   <div class="container-fluid">
                      <div class="row">


                                <div class="navbar-header col-lg-1">
                                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                        <i class="glyphicon glyphicon-align-left"></i>
                                        <span></span>
                                    </button>
                                </div>



                                {% if user.profile.profil_resmi %}
                                <div class="col-lg-3"><font color="white"> <a href="#" onclick="return false;"><img class="img_for" src="{{ user.profile.profil_resmi.url }}" height="42" width="42" /> {{ user.get_full_name }}</a></font></div>
                                {% else %}
                                <div class="col-lg-3"><font color="white"> <a href="#" onclick="return false;"><img class="img_for" src="{{ STATIC_URL }}images/user/genericUser.png" height="42" width="42" />{{ user.get_full_name }}</a></font></div>
                                {% endif %}



                             <div class="col-lg-2"><a class="dropbtn2" onclick="myFunction()">Bildirim(<span id="mynum"></span>)<i class="fa fa-caret-down"></i> </a>
                                   <div class="dropdown-content2" id="myDropdown2">
                                     <a href="#">Link 1</a>
                                     <a href="#">Link 2</a>
                                   </div>
                             </div>


                            {% if user.is_staff %}
                            <div class="col-lg-2"><a href="/admin/"><font color="white">Ayarlar</font></a></div>
                            {% endif %}

                            <div class="col-lg-2"><a href="{% url 'logout'%}?next={{request.path}}"><font color="white"><span class="glyphicon glyphicon-log-out"></span> Çıkış</font></a></div>



                      </div>  <!-- row -->

                  </div>   <!-- container fluid -->
                </nav>

                {% block content %}    {% endblock %}

          </div>  <!-- content -->
  </div>





  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      //alert("my function...");
      document.getElementById("myDropdown2").classList.toggle("show");
      }
      // Close the dropdown if the user clicks outside of it
      window.onclick = function(e) {
        if (!e.target.matches('.dropbtn2')) {
          var myDropdown = document.getElementById("myDropdown2");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
  </script>


  <script>
        $(document).ready(function(){
                      //alert("document ready..");
                      new_notif();
                      myInterval();
             });  /* document ready  kapanıyor */
  </script>



<script>
  var myVar;
  function myInterval() {
      myVar = setInterval(new_notif, 30000);
  }
</script>




<script>

  function new_notif()
  {
      //alert("buraya geldi ... new notif... on click...");
      var selected = "deneme";
      console.log(selected);
      $.ajax({
        url : "/bildirim/",
        type : "GET",
        dataType: "text",
        contentType: 'application/json; charset=utf-8',
        data : {
          'selected' : selected,
           },
        success: function(data) {
            //alert(data);
            var json = $.parseJSON(data);
            //alert(json.length);
            document.getElementById("mynum").innerHTML = json.length;
            $(myDropdown2).empty();
            for (var i=0;i<json.length;++i)
              {
                  /*  alert(" maryak......");  */
                  var getdiv = document.getElementById('myDropdown2');
                  var createA = document.createElement('a');
                  var createAText = document.createTextNode(json[i].message);
                  //alert(createAText);
                  createA.setAttribute('href', "http://google.com");
                  createA.appendChild(createAText);
                  getdiv.appendChild(createA);
              }
            },
        failure: function() {
            alert("bildirim listesi başarısız...");
            }
        });  /* ajax kapa...*/

  }


</script>



</body>
</html>
